<p>pagina-principal-paciente works!</p>
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand">Consultorio Online</a>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link ayctive" aria-current="page">Inicio</a>
            </li>
            <li class="nav-item">
              <a routerLink="/citas-paciente" class="nav-link">Agendar paciente</a>
            </li>
            <li class="nav-item">
              <a routerLink="/citas" class="nav-link">citas
              </a>
            </li>
          </ul>
          <form class="d-flex">
            
            <button routerLink="paginaprincipal" class="btn btn-outline-success" type="submit">Perfil</button>
          </form>
        </div>
      </div>
    </nav>
    </div>
    