<p>vision works!</p>
<app-pagina-principal></app-pagina-principal>
<div>
    
    <H1 class="text-center">Nuestra Vision</H1>
    <p class="text-center">
        Lorem ipsum dolor sit amet consectetur,
         adipisicing elit. Maxime voluptatem, voluptatibus 
         in minus aliquam blanditiis perferendis laudantium tempora 
         exercitationem repellat!
    </p>
</div>