<p>registro-paciente works!</p>

<div>
    <form>
        <div class="mb-3">
          <label for="Nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="nombre" aria-describedby="emailHelp">          
        </div>
        <div class="mb-3">
          <label for="Apellido" class="form-label">Apellido</label>
          <input type="text" class="form-control" id="apellido">
        </div>
        <div class="mb-3">
        <label for="Identificacion" class="form-label">Identificacion</label>
        <input type="text" class="form-control" id="identificacion">
        </div>

        <div class="mb-3">
            <label for="Identificacion" class="form-label">Identificacion</label>
            <input type="text" class="form-control" id="identificacion">
        </div>
        
        <div>
        <div class="mb-3"><label>Genero</label></div>
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btnradio1">Masculino</label>
          
            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio2">Femenino</label>
          

          </div>
        </div>
        <div>
          <label for="Correo" class="form-label">Correo</label>
          <input type="email" class="form-control" id="correo">

        </div>

       

        <div class="mt-5">
        <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

</div>