<p>pagina-principal works!</p>
<div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">Consultorio Online</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a routerLink="/mision" class="nav-link" >Nuestra Mision</a>
          </li>
          <li class="nav-item">
            <a routerLink="/vision" class="nav-link">Nuestra vision</a>
          </li>
        </ul>
        <form class="d-flex">
          
          <button routerLink="/login" class="btn btn-outline-success" type="submit">Iniciar sesión</button>
        </form>
      </div>
    </div>
  </nav>
</div>

<div>



</div>