<p>citas-paciente works!</p>
<app-pagina-principal-paciente></app-pagina-principal-paciente>
<div class="container">
    <full-calendar [options]="calendarOptions"></full-calendar>

    <div id="calendar"></div>
</div>

